@charset "UTF-8";
/* CSS Document */

#main {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#header {

	width: 740px;
	height: 25px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	background: rgb(155,164,164);	
		color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	line-height: 150%;
}
#emptycart {
	margin right: 30px;
font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
#viewcart {
font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
    float: right;
position-left: 30px;
margin-right: 5px;

}
#home {
font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
    float: right;
margin-right: 5px;
}
#error-field {
			color: rgb(255,0,0);

}
table #cart-table {
 border-right-width:1px;
  border-right-style:solid;	
}
#cartright {
	float:right;
		width: 50%;

    overflow:hidden;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin-left:10px;
  }
#larger-font {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
#innercart {

}
#cart {
		width: 48%;
 border-right-width:2px;
  border-right-style:solid;
  border-right-color:rgb(102,102,102);
  height: 700px;
	float:left;
	overflow:hidden;
	
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;

}

#break {

	width: 740px;
	height: 5px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	background: rgb(155,164,164);	
		color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	line-height: 150%;
}
#container {
	//line-height: 10px;
		margin-left: auto;
	margin-right: auto;
	width: 740px;
		font-family: Verdana, Arial, Helvetica, sans-serif;

}

#content {

			font-family: Verdana, Arial, Helvetica, sans-serif;
    position:fixed;

	width: 740px;
		     bottom:0px;	


      margin: 0 auto;


}
.small {
		font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;

}.detail {
	font-size: 10px;
}
.heading {
	font-family: Verdana;
	font-size: 20px;
}
.links {
	font-family: Verdana;
	font-size: 35px;
	color: #666;
	text-decoration: none;
	font-weight: bold;
	line-height: 150%;
}
